#navbar {
  position: fixed;
  width: var(--navbar-width);
  height: 100%;
  background-color: #0097a7;
  overflow: auto;
}

#navbar #logo {
  padding: 40px;
}
#navbar #logo:hover {
  cursor: pointer;
}

#navbar .item {
  width: 100%;
  padding: 14px;
  transition-duration: 0.1s;
  transition: border-left, 0.5s, linear;
  border-left: 0 solid transparent;
  text-align: right;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#navbar .item.selected {
  background:  rgba(255, 255, 255, 0.2);
}

#navbar .item:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  opacity: 1;
}