.profile-loader.ui.dimmer, .conflicts-loader.ui.dimmer{
  top: 70px !important;
}

img {
  max-width: 100%;
}

.cropper {
  height: 400;
}
.userInfoLabels {
  word-wrap: break-word;
  font-weight: bold;
}

.message-response {
  text-align: center;
}

#show-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  .tab-label {
    display: none;
  }
  
  #profile .ui.menu .item {
    width: 33.3333%
  }

  #profile .ui.menu .item>i.icon {
    width: 100%
  }
}

.role-label:hover {
  text-decoration: underline;
}

#photo-field {
  width: 150px;
}

#photo-field > * {
  width: 100%;
}

.rank-dance-field {
  display: flex;
}

.ui.form .inline.field>.selection.dropdown.rank-dance-dropdown {
  flex-grow: 1;
}

.ui.form .inline.field > label.userInfoLabels {
  display: flex;
  align-items: center;
  justify-content: center;
}