img {
    max-width: 100%;
}

.cropper {
    height: 400
}
.userInfoLabels {
    word-wrap: break-word;
    font-weight: bold;
}

.message-response {
    text-align: center;
}

#show-link:hover {
    text-decoration: underline;
}