img {
    max-width: 100%;
}

.cropper {
    height: 400
}
.userInfoLabels {
    word-wrap: break-word;
    font-weight: bold;
}

.userInput {
    padding: 0rem !important;
}

.response {
    text-align: center;
}