html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: scroll !important;
}

*:not(i) {
  font-family: "Open Sans", sans-serif !important;
}

p {
  color: #72777a;
  letter-spacing: 0.15px;
  line-height: 1.8 !important;
}

.ui.button {
  border-radius: 2px !important;
}

#root {
  height: 100%;
}

:root {
  --navbar-height: 70px;
  --dancer-card-width: 290px;
}

.wrapper {
  align-items: stretch;
  min-height: 100vh;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: #FCFCFC;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transition: background-image 1s ease-in-out;
  -moz-transition: background-image 1s ease-in-out;
  -o-transition: background-image 1s ease-in-out;
  -ms-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
}

.main-content {
  width: 100%;
  min-height: 100%;
}

.container {
  padding: 30px 130px 30px 130px;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 30px;
  }
}